
<router-outlet></router-outlet>
<h1>Welcome to Track Your Way to a Healthy Lifestyle</h1>
<p>
  Signup by creating a profile and making sure to log your current weight and then your goal weight. This will help you stay on track to achieve your goals.
</p>
<button
  class="btn btn-primary mr-3"
  type="signup">
<a routerLink="/auth/signup"> Signup</a>
</button>
<h3>
  Already have an account Login in now to update your progress...
</h3>
<button
  class="btn btn-primary mr-3"
  type="login">
<a routerLink="/auth/login"> Login </a>
</button>


