div {
  background-color: teal;
}

button {
  border: 2px solid purple;
  background-color: inherit;
  color: darkcyan;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: purple;
  color: white;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 15px;
  text-align: center;
}

body {
  background-color: teal;
}
