button{
  color: whitesmoke;
  background: transparent;
  border: 2px solid pink;
  cursor: pointer;
  box-shadow: 2px 5px whitesmoke;
}

:hover{
  background: transparent;
  color: whitesmoke;

}
.background{
  background-image: url("https://e0.pxfuel.com/wallpapers/52/830/desktop-wallpaper-food-background-food-food-recipes-food-menu-greek-food.jpg");
  background-size: auto;
  padding:8em;

}
h1{
  color:whitesmoke;
  text-shadow: 2px 2px black;
}
h3{
  color:whitesmoke;
  text-shadow: 2px 2px black;
}
p{
  color:whitesmoke;
  text-shadow: 1px 1px black;
  padding: 1em;
}
