<div class="background">
<div class="group">
  <h1>Welcome to My Fitness Journal!</h1>
  <p>
    Sign up by creating a profile, where you can enter your current weight and goal weight. This will help you stay on track to achieve your goals.
  </p>
  <button
    class="btn btn-primary"
    type="signup">
  <a routerLink="/auth/signup"> Signup</a>
  </button>
  <hr>
  <br>
  <h3>
    Already have an account?
  </h3>
  <p>
    Log in now to update the progress you've made on your journey to a healthier lifestyle.
  </p>
  <button
    class="btn btn-primary mr-3"
    type="login">
  <a routerLink="/auth/login"> Login </a>
  </button>
  </div>
</div>
