button{
  background:rgba(128, 128, 128, 0.601);
  border: 3px solid crimson;
  cursor: pointer;
  box-shadow: 3px 5px whitesmoke;
  opacity: 1;
}
a{
  color:honeydew;
  text-shadow: 1px 1px black;
}
button:hover{
  background: transparent;
  color: darkred;
  cursor: pointer;

}
.background{
  background-image: url("https://e0.pxfuel.com/wallpapers/52/830/desktop-wallpaper-food-background-food-food-recipes-food-menu-greek-food.jpg");
  background-size: auto;
  padding:8em;

}
h1{
  color:whitesmoke;
  text-shadow: 2px 2px black;
}
h3{
  color:whitesmoke;
  text-shadow: 2px 2px black;
}
p{
  color:whitesmoke;
  text-shadow: 1px 1px black;
  padding: 1em;
}
