<div class="background">
<div class="group">
  <h1>Welcome to Track Your Way to a Healthy Lifestyle</h1>
  <p>
    Signup by creating a profile and making sure to log your current weight and then your goal weight. This will help you stay on track to achieve your goals.
  </p>
  <button
    class="btn btn-primary"
    type="signup">
  <a routerLink="/auth/signup"> Signup</a>
  </button>
  <hr>
  <br>
  <h3>
    Already have an account...
  </h3>
  <p>
    Login in now to update your progress in your healthy lifestyle journey.
  </p>
  <button
    class="btn btn-primary mr-3"
    type="login">
  <a routerLink="/auth/login"> Login </a>
  </button>
  </div>
</div>
