<div>
  <footer class="bottom-header">
    <div
      style="background-color: paleturquoise;
      display: flex;
      justify-content: space-evenly;
      height: 50px;">
      <a style="display: grid; font-size: smaller; cursor: pointer;"
      routerLink="/dashboard">
        <img style="height: 30px;" src="assets/icons/home-icon.svg" alt="home-icon">
        Home
      </a>
      <a style="display: grid; font-size: smaller; cursor: pointer;"
      routerLink="/data-tracker/caloric-intake">
      <img style="height: 30px;
        margin-left: 10px;
        margin-top: 2px;
        height: 30px;" src="assets/icons/add.svg" alt="add-icon">
        Caloric Intake
      </a>
      <a style="display: grid; font-size: smaller; cursor: pointer;"
      routerLink="/data-tracker/activity-tracker">
      <img style="height: 30px;
        margin-left: 10px;
        margin-top: 2px;
        height: 30px;" src="assets/icons/add.svg" alt="add-icon">
        Activity Log
      </a>
      <a style="display: grid; font-size: smaller; cursor: pointer;"
      routerLink="/data-tracker/food-log">
        <img style="height: 30px;
        margin-left: 10px;
        margin-top: 2px;
        height: 30px;" src="assets/icons/add.svg" alt="add-icon">
        Food Log
      </a>
      <a style="display: grid; font-size: smaller; cursor: pointer;"
      routerLink="/profile">
        <img style="height: 30px;" src="assets/icons/profile-icon.svg" alt="profile-icon">
        Profile
      </a>
      <a style="display: grid; font-size: smaller; cursor: pointer;">
        <img style="height: 30px;" src="assets/icons/logout-icon.svg" alt="logout-icon">
        Log Out
      </a>
    </div>
  </footer>
</div>
