<div class="container">
  <h2>Register</h2>
  <hr />
  <div class="justify-content-center align-items-center">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm)">
      <div class="form-group">
        <label>
          Email:
          <input
            [class.is-invalid]="
              email.invalid && (email.touched || hasSubmitted)
            "
            id="email"
            name="email"
            formControlName="email"
            type="text"
            class="form-control"
            autocomplete="email"
            required
            placeholder="Please enter E-mail"
        /></label>

        <div *ngIf="email.invalid && (email.touched || hasSubmitted)">
          <small *ngIf="email.errors?.required" class="text-danger"
            >Email is required!</small
          >
          <small *ngIf="email.errors?.pattern" class="text-danger">
            Make sure Email is correct</small
          >
        </div>
      </div>
      <div class="form-group">
        <label>
          Password:
          <input
            [class.is-invailid]="
              password.invalid && (password.touched || hasSubmitted)
            "
            formControlName="password"
            name="password"
            id="password"
            type="password"
            class="form-control"
            placeholder="Create a Password"
            id="password"
            autocomplete="off"
            required
        /></label>

        <div *ngIf="password.invailid && (password.touched || hasSubmitted)">
          <label *ngIf="password.errors?.required" class="text-danger"
            >Password is required</label
          >
          <label *ngIf="password.errors?.minlength" class="text-danger"
            >Password should be minimum of 6 characters</label
          >
        </div>
      </div>
      <div class="d-flex justify-content-around">
        <button
          class="btn btn-primary float-right m-2"
          type="submit"
          routerLinkActive="active"
          (click)="onSubmit(signupForm)"
        >
          Submit
        </button>
        <div *ngIf="isLoading">
          <svg
            width="48"
            height="48"
            viewBox="0 0 100 100"
            preserveAspectRatio="xMidYMid"
          >
            <circle
              cx="50"
              cy="50"
              r="45"
              fill="none"
              stroke="#f00"
              stroke-width="10"
            />
          </svg>
        </div>
        <br />
        <button class="btn btn-secondary m-2" type="button" (click)="onClear()">
          Clear
        </button>
      </div>
    </form>
  </div>
</div>
