.addBtn {
  font-weight: 500;
  color: #212f45;
}

.page {
  background-color: #006466;
  height: 100vh;
}

p {
  font-weight: 700;
}

* {
  color: #312244;
}

ul {
  margin-top: 50px;
}

li {
  color: aliceblue;
}
